
body {
	margin:0 auto ;
	width: 850;
}

.cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

header {
	background:linear-gradient(#dfdcdc,hsl(0, 5%, 80%));
	height: 35px;
	padding: 8px;
	line-height: 6px;
	width:auto;
}

div.container{
	background-color:white;
	height: auto;
	padding: 0px 25px 5px 25px;
}

table {
	width: 750px;
	margin-top:15px;
}
td {
	margin-right:20px;

}
#read_item_list {
	display:none;
}
#read_item_list_label{
	font-size: 12;
	background-color:#ececec;
	border-radius: 3px;
	border:1px solid  #555;
	line-height: 25px;
	padding:2px 15px;
}
#read_item_list_label:hover {
	background-color:#e3e3e3;
}
ul {
	padding-left: 1em;
	text-align:center;
}
li {
	list-style: none;
	float:left;
	margin-right: 15px;
}
li:last-child {
	margin-left:15px;
}
input,select {
	height: 26px;
}



.right_button {
	background:linear-gradient(#dfdcdc,#cfcaca);
	vertical-align: bottom;
	text-align: center;
	width: 100px;
}
button {
	margin-bottom: 1.2em;
}
.pay_input {
	display: none;
	text-align:center;
}


#item_list {
	height: 100px;
	width:100%;
	padding:3px;
	/* width: 200px; */
	/* margin-bottom:1.2em; */
}

#order_list {
	width: 480px;
	height: 130px;
	overflow: scroll;
	overflow-x: hidden;
	padding:3px;
}
